/* Exercici 6 */

#block {
    width: 200px;
    height: 40px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;

    #title1 {
        position: absolute;
        width: 200px;
        animation-name: text-carousel;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes text-carousel {
    from {
        right: -100%;
    }

    to {
        right: 100%;
    }
}