<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/styles/globals.css">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Text | Exercici 3</title>
</head>

<body onload="initTheme()">
    <script src="/script.js"></script>

    <div class="grid gap-3">
        <!-- Exercici 7: Crea una pàgina com la de l'exercici anterior però afegint la característica que cada caràcter sigui d'un color diferent. -->
        <h1 id="title" class="text-3xl font-bold mb-3"></h1>

        <button onclick="window.location.reload()"
            class="cursor-pointer px-5 py-3 w-fit rounded-full bg-[var(--accent)]/70 hover:bg-[var(--accent)] select-none">
            Reiniciar
        </button>
    </div>

    <script>
        const title = document.getElementById('title');

        const array = 'TEXT DE COLORS'.split('');

        for (let i = 0; i < array.length; i++) {
            var color = [];
            for (let j = 0; j < 3; j++) {
                color.push(Math.floor(Math.random() * 255));
            }
            const span = document.createElement('span');
            span.textContent = array[i]
            span.style.color = `rgb(${color})`
            title.append(span)
        }
    </script>

</body>

</html>