<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Carousel | Exercici 3</title>
</head>

<body>
    <!-- Exercici 6: Crea una pàgina web amb un títol (tag html H1) que es mogui a la forma de banner: a intervals regulars es desplacen cap a l'esquerra tots els caràcters i els caràcters que desapareixen per l'esquerra tornen a aparèixer per la dreta. -->
    <div id="block">
        <h1 id="title1">Exercici 6</h1>
    </div>

</body>

</html>